<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://82.156.70.141:3306/ry-vue?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=true&amp;serverTimezone=GMT%2B8&amp;allowMultiQueries=true"/>
                <property name="username" value="mrdbuser"/>
                <property name="password" value="Findeck^2022"/>
            </dataSource>
        </environment>
    </environments>

<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://116.205.166.28:9030/mrmsdb?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=true&amp;serverTimezone=GMT%2B8&amp;allowMultiQueries=true"/>-->
<!--                <property name="username" value="mrdbuser"/>-->
<!--                <property name="password" value="mrdbuser"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

    <mappers>
        <mapper resource="mapper/ScenarioMapper.xml"></mapper>
        <mapper resource="mapper/SaccrMapper.xml"></mapper>
        <mapper resource="mapper/BacvaMapper.xml"></mapper>
        <mapper resource="mapper/PCAMapper.xml"></mapper>
        <mapper resource="mapper/BootStrapMapper2.xml"></mapper>
    </mappers>


</configuration>

