<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcyh.batch.mapper.BacvaMapper">

    <select id="selectSaccrDealDetail" resultType="java.util.HashMap">
        SELECT * FROM TB_36_SACCR_DEAL_DETAIL T
        where T.DATA_DATE = #{dataDate,jdbcType=DATE}
        AND T.MODIFIER = #{user}
    </select>

    <select id="selectSaccrEadDetail" resultType="java.util.HashMap">
<!--        SELECT T.*, COALESCE(T.MA_ID, T.SINGLE_MA_ID) AS NETTING_SET-->
        SELECT DATA_DATE,COUNTERPARTY_CODE,COUNTERPARTY_NAME,MA_ID,MA_TYPE,CSA_ID,ROUND(CSA_MTA_CNY,6) AS CSA_MTA_CNY,ROUND(CSA_TH_CNY,6) AS CSA_TH_CNY,ROUND(CSA_NICA_CNY,6) AS CSA_NICA_CNY,ROUND(C,6) AS C,ROUND(V,6) AS V,ROUND(ADDON_AGG,6) AS ADDON_AGG,ROUND(multiplier,6) AS multiplier,ROUND(PFE,6) AS PFE,ROUND(RC,6) AS RC,ROUND(COEFFICIENT_ALPHA,6) AS COEFFICIENT_ALPHA,ROUND(EAD,6) AS EAD,MODIFIER,UPDATE_TIME,id,SINGLE_MA_ID,COALESCE(T.MA_ID, T.SINGLE_MA_ID) AS NETTING_SET
        FROM TB_36_SACCR_EAD_DETAIL T
    </select>

    <select id="selectBacvaRiskWeights" resultType="java.util.HashMap">
        SELECT * FROM TB_17_BACVA_RISK_WEIGHTS
    </select>

    <select id="selectCounterparty" resultType="java.util.HashMap">
        SELECT T.COUNTERPARTY_ID AS COUNTERPARTY_CODE, T.BACVA_SECTOR,
        CASE WHEN UPPER(T.RATING) IN ('BBB','A','AA','AAA') THEN 'IG'
        WHEN UPPER(T.RATING) NOT IN ('BBB','A','AA','AAA','UNRATED') AND T.RATING IS NOT NULL THEN 'HY'
        ELSE 'NR' END AS INVESTMENT_LEVEL
        FROM TB_17_COUNTERPARTY T
    </select>

    <delete id="deleteBacvaDealDetail">
        delete from TB_36_BACVA_DEAL_DETAIL where DATA_DATE = #{dataDate,jdbcType=DATE} AND MODIFIER = #{user}
    </delete>

    <delete id="deleteBacvaNettingSetDetail">
        delete from TB_36_BACVA_NETTING_SET_DETAIL where DATA_DATE = #{dataDate,jdbcType=DATE} AND MODIFIER = #{user}
    </delete>

    <delete id="deleteBacvaCounterpartyDetail">
        delete from TB_36_BACVA_COUNTERPARTY_DETAIL where DATA_DATE = #{dataDate,jdbcType=DATE} AND MODIFIER = #{user}
    </delete>

    <insert id="insertBacvaDealDetail" parameterType="java.util.List">
        INSERT INTO TB_36_BACVA_DEAL_DETAIL (DATA_DATE,INSTRUMENT_ID,COUNTERPARTY_CODE,COUNTERPARTY_NAME,NOTIONAL_CNY,EFFECTIVE_MATURITY,MATURITY_DATE,NETTING_SET,MODIFIER,UPDATE_TIME) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.DATA_DATE,jdbcType=DATE},#{item.INSTRUMENT_ID},#{item.COUNTERPARTY_CODE},#{item.COUNTERPARTY_NAME},#{item.NOTIONAL_CNY},#{item.MI},#{item.END_DATE,jdbcType=DATE},#{item.NETTING_SET},#{item.MODIFIER},#{item.UPDATE_TIME})
        </foreach>
    </insert>

    <insert id="insertBacvaNettingSetDetail" parameterType="java.util.List">
        INSERT INTO TB_36_BACVA_NETTING_SET_DETAIL (DATA_DATE,COUNTERPARTY_CODE,COUNTERPARTY_NAME,EFFECTIVE_MATURITY,NETTING_SET,DISCOUNT_FACTOR,EAD,MODIFIER,UPDATE_TIME) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.DATA_DATE,jdbcType=DATE},#{item.COUNTERPARTY_CODE},#{item.COUNTERPARTY_NAME},#{item.EFFECTIVE_MATURITY},#{item.NETTING_SET},#{item.DISCOUNT_FACTOR},#{item.EAD},#{item.MODIFIER},#{item.UPDATE_TIME})
        </foreach>
    </insert>

    <insert id="insertBacvaCounterpartyDetail" parameterType="java.util.List">
        INSERT INTO TB_36_BACVA_COUNTERPARTY_DETAIL (DATA_DATE,COUNTERPARTY_CODE,COUNTERPARTY_NAME,WEIGHTED_EAD,BACVA_SECTOR,INVESTMENT_LEVEL,COEFFICIENT_VALUE,EAD_ALPHA,SCVA,K_REDUCED,RWA_REDUCED,MODIFIER,UPDATE_TIME) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
                    (#{item.DATA_DATE,jdbcType=DATE},#{item.COUNTERPARTY_CODE},#{item.COUNTERPARTY_NAME},#{item.WEIGHTED_EAD},#{item.BACVA_SECTOR},#{item.INVESTMENT_LEVEL},#{item.RISK_WEIGHT},#{item.EAD_ALPHA},#{item.SCVA},#{item.K_REDUCED},#{item.RWA_REDUCED},#{item.MODIFIER},#{item.UPDATE_TIME})
        </foreach>
    </insert>

</mapper>
