<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcyh.mr.springboot.calendar.mapper.CalendarMapper">

    <select id="selectCalendar" resultType="java.util.HashMap">
        select
            CALENDAR_CODE,
            HOLIDAY_DATE
        from V_CALENDAR
        order by CALENDAR_CODE, HOLIDAY_DATE
    </select>

</mapper>
