<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcyh.batch.mapper.SaccrMapper">

    <select id="selectSpotRate" resultType="java.util.HashMap">
        SELECT T.CURRENCY_CODE, T.EXCHANGE_RATE FROM V_MRM_SPOT_RATE T
        where T.DATA_DATE = #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectFxForward" resultType="java.util.HashMap">

        SELECT T.INSTRUMENT_ID AS DEALID, T.COUNTERPARTY_CODE, T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME, T.CURRENCY_PAIR AS HEDGING_SET, '外汇远期' AS TRADE_TYPE,
        T.BUY_OR_SELL AS POSITION, T.TRADE_DATE AS START_DATE, T.SETTLE_DATE AS END_DATE, T.UNDERLYING_CURRENCY_CODE, T.UNDERLYING_CURRENCY_NOTIONAL,
        T.BASE_CURRENCY_CODE, T.BASE_CURRENCY_NOTIONAL, T1.NPV_CNY AS MTM, 'CNY' AS MTM_CCY, NULL AS STRIKE_PRICE, NULL AS UNDERLYING_PRICE, T2.MA_ID
        FROM TB_13_FX_FORWARD_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1 ON T.INSTRUMENT_ID = T1.INSTRUMENT_ID AND T1.DATA_DATE = #{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T2 ON T2.COUNTERPARTY_CODE = T.COUNTERPARTY_CODE AND T2.DATA_DATE = #{dataDate,jdbcType=DATE}
        WHERE T.SETTLE_DATE  <![CDATA[>]]> #{dataDate,jdbcType=DATE}
        AND T.INSTRUMENT_ID NOT IN (SELECT INSTRUMENT_ID FROM	TB_13_FX_SPOT_ALL WHERE	DATA_DATE = #{dataDate,jdbcType=DATE})

    </select>

    <select id="selectFxSwap" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,T.CURRENCY_PAIR AS HEDGING_SET,
        '外汇掉期' AS TRADE_TYPE,T.BUY_OR_SELL AS POSITION,T.TRADE_DATE AS START_DATE,T.FWD_SETTLE_DATE AS END_DATE,
        T.UNDERLYING_CURRENCY_CODE,T.UNDERLYING_CURRENCY_NOTIONAL_FWD,T.BASE_CURRENCY_CODE,
        T.BASE_CURRENCY_NOTIONAL_FWD,T1.NPV_CNY AS MTM, 'CNY' AS MTM_CCY, NULL AS STRIKE_PRICE, NULL AS UNDERLYING_PRICE,T2.MA_ID
        FROM TB_13_FX_SWAP_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID
        AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T2
        ON T2.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE
        AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE T.FWD_SETTLE_DATE  <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectFxOption" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,T.CURRENCY_PAIR AS HEDGING_SET,
        '外汇期权' AS TRADE_TYPE,T.BUY_OR_SELL AS POSITION,T.TRADE_DATE AS START_DATE,T.SETTLE_DATE AS END_DATE,
        T.CALL_OR_PUT AS CALL_PUT_FLAG,T.STRIKE_PRICE*T4.EXCHANGE_RATE AS STRIKE,T.CONTRACT_SIZE AS NOTIONAL,T1.NPV_CNY AS MTM,
        'CNY' AS MTM_CCY,T.UNDERLYING_CURRENCY_CODE AS NOTIONAL_CCY,T.BASE_CURRENCY_CODE,
        T2.FX_RATE/T4.EXCHANGE_RATE AS UNDERLYING_PRICE,T3.MA_ID
        FROM TB_13_FX_OPTION_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN (SELECT REPLACE(REPLACE(T.CURVE_CODE,'_FXCURVE',''),'_','/') AS CURRENCY_PAIR,T.FX_RATE
        FROM TB_19_FX_CURVE T
        WHERE T.TERM_CODE='ON'
        AND T.DATA_DATE=#{dataDate,jdbcType=DATE}) T2
        ON T.CURRENCY_PAIR=T2.CURRENCY_PAIR
        LEFT JOIN TB_17_SACCR_MA_CSA T3
        ON T3.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE AND T3.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN V_MRM_SPOT_RATE T4
        ON T4.CURRENCY_CODE = T.BASE_CURRENCY_CODE AND T4.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE T.SETTLE_DATE  <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectCcs" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,T.TRADE_DATE AS START_DATE,
        '货币互换' AS TRADE_TYPE,T.MATURITY_DATE AS END_DATE,CURRENCY_PAIR AS HEDGING_SET,
        T.PAY_NOTIONAL AS SHORTNOTIONAL,T.PAY_CURRENCY_CODE AS SHORTNOTIONALCURRENCY,
        T.REC_CURRENCY_CODE AS LONGNOTIONALCURRENCY,T.REC_NOTIONAL AS LONGNOTIONAL,T.REC_NOTIONAL AS NOTIONAL,
        T.REC_CURRENCY_CODE AS NOTIONAL_CCY,T1.NPV_CNY AS MTM,'CNY' AS MTM_CCY, NULL AS STRIKE_PRICE, NULL AS UNDERLYING_PRICE, T2.MA_ID
        FROM TB_13_CCS_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T2
        ON T2.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE T.SWAP_TYPE = 'CCS' AND T.MATURITY_DATE  <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectIrs" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,T.TRADE_DATE AS START_DATE,
        '利率互换' AS TRADE_TYPE,T.MATURITY_DATE AS END_DATE,T.PAY_CURRENCY_CODE AS HEDGING_SET,
        T.PAY_NOTIONAL AS NOTIONAL,T.PAY_CURRENCY_CODE AS NOTIONAL_CCY,T1.NPV_CNY AS MTM,
        'CNY' AS MTM_CCY,CASE WHEN T.PAY_INTEREST_TYPE IN ('float','Float','FLOAT','Floating') THEN 'S'
        WHEN T.REC_INTEREST_TYPE IN ('float','Float','FLOAT','Floating') THEN 'B' END AS POSITION, NULL AS STRIKE_PRICE, NULL AS UNDERLYING_PRICE,T2.MA_ID
        FROM TB_13_CCS_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T2
        ON T2.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE  T.SWAP_TYPE = 'IRS' AND T.MATURITY_DATE  <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectCapFloor" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,T.TRADE_DATE AS START_DATE,T.MATURITY_DATE AS END_DATE,
        '利率上下限期权' AS TRADE_TYPE,T.STRIKE_RATE AS STRIKE_PRICE,T.NOTIONAL,T.CURRENCY_CODE AS NOTIONAL_CCY,
        T.CURRENCY_CODE AS HEDGING_SET,T.BUY_OR_SELL AS POSITION,T.CAP_OR_FLOOR  AS CALL_PUT_FLAG,T1.NPV_CNY AS MTM,
        'CNY' AS MTM_CCY,T2.YIELD_RATE AS UNDERLYING_PRICE,T3.MA_ID
        FROM TB_13_CAP_FLOOR_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID
        AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_19_IR_CURVE T2
        ON T2.CURVE_CODE=T.FIXING_CURVE
        AND T2.TERM_CODE=T.FIXING_FREQ
        AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T3
        ON T3.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE
        AND T3.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE  T.MATURITY_DATE <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectSwaption" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,T.TRADE_DATE AS START_DATE,
        T.MATURITY_DATE AS END_DATE,'利率互换期权' AS TRADE_TYPE,T.CURRENCY_CODE AS HEDGING_SET,T.NOTIONAL,T.CURRENCY_CODE AS NOTIONAL_CCY,
        T.CALL_OR_PUT AS CALL_PUT_FLAG,T.BUY_OR_SELL AS POSITION,T.UNDERLYING_START_DATE AS UNDERLYING_EFFECTIV_DATE,
        T.UNDERLYING_MATURITY_DATE,T1.NPV_CNY AS MTM,'CNY' AS MTM_CCY,T.FIXED_RATE AS STRIKE_PRICE,
        T2.YIELD_RATE AS UNDERLYING_PRICE,T3.MA_ID
        FROM TB_13_SWAPTION_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID
        AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_19_IR_CURVE T2
        ON T2.CURVE_CODE = T.FIXING_CURVE
        AND T2.TERM_CODE = T.FIXING_FREQ
        AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T3
        ON T3.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE
        AND T3.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE  T.MATURITY_DATE <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectCommPrice" resultType="java.util.HashMap">
        SELECT DISTINCT T.UNDERLYING_CODE AS COMM_CODE,T.COMM_PRICE*T1.EXCHANGE_RATE AS COMM_UNIT_PRICE
        FROM TB_19_COMM_CURVE T
        LEFT JOIN V_MRM_SPOT_RATE T1
        ON T1.CURRENCY_CODE=T.BASE_CURRENCY_CODE AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE T.TERM_CODE='0D'
    </select>

    <select id="selectCommForward" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.TRADE_DATE AS START_DATE,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,
        T.BUY_OR_SELL AS POSITION,T.SETTLE_DATE AS END_DATE,T.POSITION AS NOTIONAL,T.UNDERLYING_CODE AS NOTIONAL_CCY,
        'Metals' AS HEDGING_SET, 'Metals' AS SUBCLASS,'商品远期' AS TRADE_TYPE,T1.NPV_CNY AS MTM,'CNY' AS MTM_CCY,
        NULL AS STRIKE_PRICE, NULL AS UNDERLYING_PRICE,T.STRIKE_PRICE*T2.EXCHANGE_RATE AS COMM_PRICE, T3.MA_ID
        FROM TB_13_COMM_FORWARD_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID
        AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN V_MRM_SPOT_RATE T2
        ON T2.CURRENCY_CODE=T.STRIKE_CURRENCY_CODE
        AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T3
        ON T3.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE
        AND T3.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE  T.SETTLE_DATE <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectCommSwap" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,'商品掉期' AS TRADE_TYPE,T.TRADE_DATE AS START_DATE,
        T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,T.BUY_OR_SELL AS POSITION,T.POSITION AS NOTIONAL,T.FWD_SETTLE_DATE AS END_DATE,
        T.UNDERLYING_CODE AS NOTIONAL_CCY,'Energy' AS HEDGING_SET, 'Metals' AS SUBCLASS,T1.NPV_CNY AS MTM,'CNY' AS MTM_CCY,
        NULL AS STRIKE_PRICE, NULL AS UNDERLYING_PRICE,T.FWD_STRIKE*T2.EXCHANGE_RATE AS COMM_PRICE,T3.MA_ID
        FROM TB_13_COMM_SWAP_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID
        AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN V_MRM_SPOT_RATE T2
        ON T2.CURRENCY_CODE=T.STRIKE_CURRENCY_CODE
        AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T3
        ON T3.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE
        AND T3.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE  T.FWD_SETTLE_DATE <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectCommOption" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID,T.COUNTERPARTY_CODE,T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME,
        T.BUY_OR_SELL AS POSITION,T.CALL_OR_PUT AS CALL_PUT_FLAG,T.TRADE_DATE AS START_DATE,T.SETTLE_DATE AS END_DATE,
        '商品期权' AS TRADE_TYPE,'Metals' AS HEDGING_SET, 'Metals' AS SUBCLASS,
        T.UNDERLYING_CODE AS NOTIONAL_CCY,T.POSITION AS NOTIONAL,
        T.STRIKE_PRICE*T3.EXCHANGE_RATE AS STRIKE_PRICE,T.STRIKE_PRICE*T3.EXCHANGE_RATE AS COMM_PRICE,
        T1.NPV_CNY AS MTM,'CNY' AS MTM_CCY,T2.COMM_PRICE*T4.EXCHANGE_RATE,T5.MA_ID
        FROM TB_13_COMM_OPTION_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1
        ON T.INSTRUMENT_ID=T1.INSTRUMENT_ID
        AND T1.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_19_COMM_CURVE T2
        ON T.PRICE_CURVE=T2.CURVE_CODE
        AND T2.TERM_CODE = '0D'
        AND T2.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN V_MRM_SPOT_RATE T3
        ON T3.CURRENCY_CODE=T.STRIKE_CURRENCY_CODE
        AND T3.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN V_MRM_SPOT_RATE T4
        ON T4.CURRENCY_CODE=T2.BASE_CURRENCY_CODE
        AND T4.DATA_DATE=#{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T5
        ON T5.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE
        AND T5.DATA_DATE=#{dataDate,jdbcType=DATE}
        WHERE  T.SETTLE_DATE <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectCds" resultType="java.util.HashMap">
        SELECT T.INSTRUMENT_ID AS DEALID, T.COUNTERPARTY_CODE, T.COUNTERPARTY_CODE AS COUNTERPARTY_NAME, T.START_DATE, T.MATURITY_DATE AS END_DATE,
        T.BUY_OR_SELL AS POSITION, '信用违约互换' AS TRADE_TYPE, NULL AS CALL_PUT_FLAG, NULL AS STRIKE_PRICE, NULL AS UNDERLYING_PRICE, T.UNDERLYING_BOND_ID AS HEDGING_SET,
        T1.NPV_CNY AS MTM, T1.CURRENCY_CODE AS MTM_CCY, T.NOTIONAL, COALESCE(T2.BOND_RATING,'Unrated') AS SUBCLASS, T.CURRENCY_CODE AS NOTIONAL_CCY, T3.MA_ID
        FROM TB_13_CDS_ALL T
        LEFT JOIN TB_26_TRADE_MEASURE T1 ON T1.INSTRUMENT_ID = T.INSTRUMENT_ID AND T1.DATA_DATE = #{dataDate,jdbcType=DATE}
        LEFT JOIN TB_13_BOND_BASIC_INFO T2 ON T2.BOND_ID = T.UNDERLYING_BOND_ID AND T2.DATA_DATE = #{dataDate,jdbcType=DATE}
        LEFT JOIN TB_17_SACCR_MA_CSA T3 ON T3.COUNTERPARTY_CODE=T.COUNTERPARTY_CODE AND T3.DATA_DATE = #{dataDate,jdbcType=DATE}
        WHERE  T.MATURITY_DATE <![CDATA[>]]> #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectSaccrMaCsa" resultType="java.util.HashMap">
        SELECT T.MA_ID, T.MA_TYPE, T.COUNTERPARTY_CODE, T.CSA_ID, T.CSA_MPOR, T.CSA_MTA, T.CSA_MTA_CCY, T.CSA_TH, T.CSA_TH_CCY,
        T.CSA_NICA, T.CSA_NICA_CCY, 'CNY' AS CSA_SETTLEMENT_CCY_x, 0 AS COL_HAIRCUT_x, T.CSA_COLLATERAL, T.CSA_COLLATERAL_CCY
        FROM TB_17_SACCR_MA_CSA T
        WHERE T.DATA_DATE = #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectGuaranteeDk" resultType="java.util.HashMap">
        SELECT T.DEALID, T.COUNTERPARTY_CODE, T.GUARANTEE_AMOUNT, T.GUARANTEE_CURRENCY, 'CNY' AS CSA_SETTLEMENT_CCY_y, 0 AS COL_HAIRCUT_y
        FROM TB_13_GUARANTEE_DK T
        WHERE T.DATA_DATE = #{dataDate,jdbcType=DATE}
    </select>

    <select id="selectSaccrSupervisoryFactor" resultType="java.util.HashMap">
        SELECT * FROM TB_17_SACCR_SUPERVISORY_FACTOR
    </select>

    <delete id="deleteDealDetail">
        delete from TB_36_SACCR_DEAL_DETAIL where DATA_DATE = #{dataDate,jdbcType=DATE}
    </delete>

    <delete id="deleteAddonDetail">
        delete from TB_36_SACCR_ADDON_DETAIL where DATA_DATE = #{dataDate,jdbcType=DATE}
    </delete>

    <delete id="deleteEadDetail">
        delete from TB_36_SACCR_EAD_DETAIL where DATA_DATE = #{dataDate,jdbcType=DATE}
    </delete>

    <delete id="deleteEadReport">
        delete from TB_36_SACCR_EAD_REPORT where DATA_DATE = #{dataDate,jdbcType=DATE}
    </delete>

    <insert id="insertDealDetail" parameterType="java.util.List">
        INSERT INTO TB_36_SACCR_DEAL_DETAIL (DATA_DATE,INSTRUMENT_ID,COUNTERPARTY_CODE,COUNTERPARTY_NAME,TRADE_TYPE,ASSET_CLASS,HEDGING_SET,HEDGING_SUBSET,START_DATE,END_DATE,NOTIONAL,NOTIONAL_CCY,NOTIONAL_CNY,MTM,MTM_CCY,MTM_CNY,SUPERVISOR_CORRELATION,SUPERVISORY_FACTOR,ADJUSTED_NOTIONAL,POSITION,UNDERLYING_PRICE,STRIKE_PRICE,SUPERVISORY_OPTION_VOLATILITY,SUPERVISOR_DELTA_ADJ,SUPERVISOR_DURATION,Si,Ei,Mi,CSA_MPOR,MF,GUARANTEE_AMOUNT,GUARANTEE_CURRENCY,GUARANTEE_AMT_CNY,NETTING_SET,RATING,IS_NETTING,UPDATE_TIME,MODIFIER) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.DATA_DATE,jdbcType=DATE},#{item.DEALID},#{item.COUNTERPARTY_CODE},#{item.COUNTERPARTY_NAME},#{item.TRADE_TYPE},#{item.ASSET_CLASS},#{item.HEDGING_SET},#{item.HEDGING_SUBSET},#{item.START_DATE,jdbcType=DATE},#{item.END_DATE,jdbcType=DATE},#{item.NOTIONAL},#{item.NOTIONAL_CCY},#{item.NOTIONAL_CNY},#{item.MTM},#{item.MTM_CCY},#{item.MTM_CNY},#{item.SUPERVISOR_CORRELATION},#{item.SUPERVISORY_FACTOR},#{item.ADJUSTED_NOTIONAL},#{item.POSITION},#{item.UNDERLYING_PRICE},#{item.STRIKE_PRICE},#{item.SUPERVISORY_OPTION_VOLATILITY},#{item.SUPERVISOR_DELTA_ADJ},#{item.SUPERVISOR_DURATION},#{item.Si},#{item.Ei},#{item.Mi},#{item.CSA_MPOR},#{item.MF},#{item.GUARANTEE_AMOUNT},#{item.GUARANTEE_CURRENCY},#{item.GUARANTEE_AMT_CNY},#{item.NETTING_SET},#{item.RATING},#{item.IS_NETTING},#{item.UPDATE_TIME},#{item.MODIFIER})
        </foreach>
    </insert>

    <insert id="insertAddonDetail" parameterType="java.util.List">
        INSERT INTO TB_36_SACCR_ADDON_DETAIL (DATA_DATE,ASSET_CLASS,COUNTERPARTY_CODE,COUNTERPARTY_NAME,MA_ID,MA_TYPE,CSA_ID,CSA_MTA_CNY,CSA_TH_CNY,CSA_NICA_CNY,C,V,ADDON,MODIFIER,UPDATE_TIME,SINGLE_MA_ID) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.DATA_DATE,jdbcType=DATE},#{item.ASSET_CLASS},#{item.COUNTERPARTY_CODE},#{item.COUNTERPARTY_NAME},#{item.MA_ID},#{item.MA_TYPE},#{item.CSA_ID},#{item.CSA_MTA_CNY},#{item.CSA_TH_CNY},#{item.CSA_NICA_CNY},#{item.GUARANTEE_AMT_CNY},#{item.MTM_CNY},#{item.ADDON},#{item.MODIFIER},#{item.UPDATE_TIME},#{item.SINGLE_MA_ID})
        </foreach>
    </insert>

    <insert id="insertEadDetail" parameterType="java.util.List">
        INSERT INTO TB_36_SACCR_EAD_DETAIL (DATA_DATE,COUNTERPARTY_CODE,COUNTERPARTY_NAME,MA_ID,MA_TYPE,CSA_ID,CSA_MTA_CNY,CSA_TH_CNY,CSA_NICA_CNY,C,V,ADDON_AGG,multiplier,PFE,RC,COEFFICIENT_ALPHA,EAD,MODIFIER,UPDATE_TIME,SINGLE_MA_ID) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.DATA_DATE,jdbcType=DATE},#{item.COUNTERPARTY_CODE},#{item.COUNTERPARTY_NAME},#{item.MA_ID},#{item.MA_TYPE},#{item.CSA_ID},#{item.CSA_MTA_CNY},#{item.CSA_TH_CNY},#{item.CSA_NICA_CNY},#{item.C},#{item.V},#{item.ADDON_AGG},#{item.multiplier},#{item.PFE},#{item.RC},#{item.COEFFICIENT_ALPHA},#{item.EAD},#{item.MODIFIER},#{item.UPDATE_TIME},#{item.SINGLE_MA_ID})
        </foreach>
    </insert>

    <insert id="insertEadReport" parameterType="java.util.List">
        INSERT INTO TB_36_SACCR_EAD_REPORT (DATA_DATE,COUNTERPARTY_CODE,COUNTERPARTY_NAME,COEFFICIENT_ALPHA,PFE,RC,EAD,MODIFIER,UPDATE_TIME) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.DATA_DATE,jdbcType=DATE},#{item.COUNTERPARTY_CODE},#{item.COUNTERPARTY_NAME},#{item.COEFFICIENT_ALPHA},#{item.PFE},#{item.RC},#{item.EAD},#{item.MODIFIER},#{item.UPDATE_TIME})
        </foreach>
    </insert>
</mapper>
