<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcyh.mr.springboot.scenario.mapper.ScenarioMapper">

    <select id="selectScenario" resultType="java.util.HashMap">
        select distinct SCENARIO_ID, SCENARIO_TYPE
        from MR_SCENARIO_RULE
        <where>
            STATUS = 'ACTIVE'
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
    </select>

    <select id="selectScenarioMpByScenarioIdList" resultType="java.util.HashMap">
        select
            SCENARIO_ID as SCENARIO_SET_CODE,
            SCENARIO_ID as SCENARIO_CODE,
            SCENARIO_NAME,
            SCENARIO_TYPE,
            CURVE_TYPE,
            CURVE_CODE,
            TERM_CODE,
            TERM_DAYS,
            SCENARIO_SHIFT_VALUE,
            SCENARIO_SHIFT_RULE
        from MR_SCENARIO_RULE
        <where>
            STATUS = 'ACTIVE'
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
        order by SCENARIO_ID, LINE_NO
    </select>

    <select id="selectMcScenarioMpByScenarioIdList" resultType="java.util.HashMap">
        select
            SCENARIO_ID as SCENARIO_SET_CODE,
            SCENARIO_ID as SCENARIO_CODE,
            SCENARIO_NAME,
            SCENARIO_TYPE,
            START_DATE,
            END_DATE,
            SCENARIO_NO,
            SCENARIO_NO as SCENARIO_NUMBER,
            JUNP_DAY_NO,
            INCREASE_DAYS,
            SCENARIO_SHIFT_RULE,
            CURVE_TYPE as RISKFACTOR_TYPE,
            CURVE_TYPE,
            CURVE_CODE,
            RISKGROUP_ID,
            TERM_CODE,
            TERM_DAYS
        from MR_SCENARIO_RULE
        <where>
            STATUS = 'ACTIVE'
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
        order by SCENARIO_ID, LINE_NO
    </select>

    <select id="selectHistoryScenarioMpByScenarioIdList" resultType="java.util.HashMap">
        select
            SCENARIO_ID as SCENARIO_SET_CODE,
            SCENARIO_ID as SCENARIO_CODE,
            SCENARIO_NAME,
            SCENARIO_TYPE,
            START_DATE,
            END_DATE,
            SCENARIO_NO,
            JUNP_DAY_NO,
            INCREASE_DAYS,
            SHOCK_TYPE,
            SCENARIO_SHIFT_RULE,
            CURVE_TYPE as RISKFACTOR_TYPE,
            CURVE_TYPE,
            CURVE_CODE,
            RISKGROUP_ID,
            TERM_CODE,
            TERM_DAYS
        from MR_SCENARIO_RULE
        <where>
            STATUS = 'ACTIVE'
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
        order by SCENARIO_ID, LINE_NO
    </select>

    <select id="selectIrData" resultType="java.util.HashMap">
        select
            'IR_SPOT' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            coalesce(TERM_CODE, cast(TERM_DAYS as varchar)) as TERM_CODE,
            coalesce(TERM_DAYS, 0) as TERM_DAYS,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'IR_SPOT'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'IR_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectFxData" resultType="java.util.HashMap">
        select
            'FX_SPOT' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            '0' as TERM_CODE,
            0 as TERM_DAYS,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'FX_SPOT'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'FX_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectCommData" resultType="java.util.HashMap">
        select
            'COMM_SPOT' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            coalesce(TERM_CODE, cast(TERM_DAYS as varchar)) as TERM_CODE,
            coalesce(TERM_DAYS, 0) as TERM_DAYS,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'COMM_SPOT'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'COMM_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectEqData" resultType="java.util.HashMap">
        select
            'EQ_SPOT' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            coalesce(TERM_CODE, cast(TERM_DAYS as varchar)) as TERM_CODE,
            TERM_DAYS as TERM_DAYS,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'EQ_SPOT'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'EQ_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectFxVolData" resultType="java.util.HashMap">
        select
            'FX_VOL' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            coalesce(TERM_CODE, cast(TERM_DAYS as varchar)) as TERM_CODE,
            coalesce(TERM_DAYS, 0) as TERM_DAYS,
            null as DELTA,
            null as BFRR_TYPE,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'FX_VOL'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'FX_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectIrVolData" resultType="java.util.HashMap">
        select
            'IR_VOL' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            coalesce(TERM_CODE, cast(TERM_DAYS as varchar)) as TERM_CODE,
            coalesce(TERM_DAYS, 0) as TERM_DAYS,
            null as DELTA,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'IR_VOL'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'IR_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectCommVolData" resultType="java.util.HashMap">
        select
            'COMM_VOL' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            coalesce(TERM_CODE, cast(TERM_DAYS as varchar)) as TERM_CODE,
            coalesce(TERM_DAYS, 0) as TERM_DAYS,
            null as DELTA,
            'BFRR_TYPE' as BFRR_TYPE,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'COMM_VOL'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'COMM_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectEqVolData" resultType="java.util.HashMap">
        select
            'EQ_VOL' as CURVE_TYPE,
            RISKFACTOR_ID as CURVE_CODE,
            DATA_DATE,
            coalesce(TERM_CODE, cast(TERM_DAYS as varchar)) as TERM_CODE,
            coalesce(TERM_DAYS, 0) as TERM_DAYS,
            null as DELTA,
            null as BFRR_TYPE,
            "value" as YIELD_RATE
        from MR_RISKFACTOR_DATA
        <where>
            RISKFACTOR_TYPE = 'EQ_VOL'
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and RISKFACTOR_ID = #{curveCode}
                </when>
                <otherwise>
                    and RISKFACTOR_ID in (
                        select distinct CURVE_CODE
                        from MR_SCENARIO_RULE
                        where STATUS = 'ACTIVE'
                          and SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'EQ_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getHolidayDate" resultType="java.util.HashMap">
        select CALENDAR as CALENDAR_CODE, HOL_DATE as DATA_DATE
        from TB_17_CALENDAR
        where CALENDAR = #{calPEK}
    </select>

    <delete id="deleteScenario">
        delete from TB_17_SCENARIO_RESULT_TMP
        <where>
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                AND SCENARIO_ID in
                <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="user!=null and user!=''">
                AND MODIFIER = #{user}
            </if>
            <if test="dataDate!=null">
                AND DATA_DATE =  #{dataDate,jdbcType=DATE}
            </if>
        </where>

    </delete>

    <insert id="insertScenario" parameterType="java.util.List">
        INSERT INTO TB_17_SCENARIO_RESULT_TMP (SCENARIO_ID,SUBSCENARIO_ID,SCENARIO_NAME,SCENARIO_TYPE,RISKFACTOR_TYPE,RISKFACTOR_ID,RISKFACTOR_VERTEX1,RISKFACTOR_VERTEX2,CHANGE_VALUE,DATA_DATE,RISKFACTOR_TERM,ORI_VALUE,SCENARIO_RESULT,UPDATE_TIME,MODIFIER) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.SCENARIO_ID},#{item.SUBSCENARIO_ID},#{item.SCENARIO_NAME},#{item.SCENARIO_TYPE},#{item.CURVE_TYPE},#{item.CURVE_CODE},#{item.TERM_DAYS},#{item.DELTA},#{item.SCENARIO_SHIFT_VALUE},#{item.DATA_DATE},#{item.TERM_CODE},#{item.YIELD_RATE},#{item.CHANGED_RATE},#{item.UPDATE_TIME,jdbcType=DATE},#{item.MODIFIER})
        </foreach>

    </insert>

</mapper>
