<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcyh.mr.springboot.scenario.mapper.ScenarioMapper">

    <select id="selectScenario" resultType="java.util.HashMap">
        select distinct SCENARIO_ID, SCENARIO_TYPE
        from V_SCENARIO_RULE
        <where>
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
    </select>

    <select id="selectScenarioMpByScenarioIdList" resultType="java.util.HashMap">
        select
            SCENARIO_ID as SCENARIO_SET_CODE,
            SCENARIO_ID as SCENARIO_CODE,
            SCENARIO_NAME,
            SCENARIO_TYPE,
            CURVE_TYPE,
            CURVE_CODE,
            TERM_CODE,
            TERM_DAYS,
            SCENARIO_SHIFT_VALUE,
            SCENARIO_SHIFT_RULE
        from V_SCENARIO_RULE
        <where>
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
        order by SCENARIO_ID, CURVE_TYPE, CURVE_CODE, coalesce(TERM_DAYS, 0), TERM_CODE
    </select>

    <select id="selectMcScenarioMpByScenarioIdList" resultType="java.util.HashMap">
        select
            SCENARIO_ID as SCENARIO_SET_CODE,
            SCENARIO_ID as SCENARIO_CODE,
            SCENARIO_NAME,
            SCENARIO_TYPE,
            START_DATE,
            END_DATE,
            SCENARIO_NO,
            SCENARIO_NO as SCENARIO_NUMBER,
            JUNP_DAY_NO,
            INCREASE_DAYS,
            SCENARIO_SHIFT_RULE,
            CURVE_TYPE as RISKFACTOR_TYPE,
            CURVE_TYPE,
            CURVE_CODE,
            RISKGROUP_ID,
            TERM_CODE,
            TERM_DAYS
        from V_SCENARIO_RULE
        <where>
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
        order by SCENARIO_ID, CURVE_TYPE, CURVE_CODE, coalesce(TERM_DAYS, 0), TERM_CODE
    </select>

    <select id="selectHistoryScenarioMpByScenarioIdList" resultType="java.util.HashMap">
        select
            SCENARIO_ID as SCENARIO_SET_CODE,
            SCENARIO_ID as SCENARIO_CODE,
            SCENARIO_NAME,
            SCENARIO_TYPE,
            START_DATE,
            END_DATE,
            SCENARIO_NO,
            JUNP_DAY_NO,
            INCREASE_DAYS,
            SCENARIO_SHIFT_RULE,
            CURVE_TYPE as RISKFACTOR_TYPE,
            CURVE_TYPE,
            CURVE_CODE,
            RISKGROUP_ID,
            TERM_CODE,
            TERM_DAYS
        from V_SCENARIO_RULE
        <where>
            <if test="scenarioIdList!=null and scenarioIdList!=''">
                <if test="scenarioIdList.length > 1">
                    and SCENARIO_ID in
                    <foreach collection="scenarioIdList.split(',')" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="scenarioIdList.length == 1">
                    and SCENARIO_ID = #{scenarioIdList}
                </if>
            </if>
        </where>
        order by SCENARIO_ID, CURVE_TYPE, CURVE_CODE, coalesce(TERM_DAYS, 0), TERM_CODE
    </select>

    <select id="selectIrData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            RISKFACTOR_VALUE
        from V_SCN_MKT_IR_SPOT
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'IR_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectFxData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            RISKFACTOR_VALUE
        from V_SCN_MKT_FX_SPOT
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'FX_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectCommData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            RISKFACTOR_VALUE
        from V_SCN_MKT_COMM_SPOT
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'COMM_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectEqData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            RISKFACTOR_VALUE
        from V_SCN_MKT_EQ_SPOT
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'EQ_SPOT'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectFxVolData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            VERTEX2,
            RISKFACTOR_VALUE
        from V_SCN_MKT_FX_VOL
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'FX_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectIrVolData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            VERTEX2,
            RISKFACTOR_VALUE
        from V_SCN_MKT_IR_VOL
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'IR_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectCommVolData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            VERTEX2,
            RISKFACTOR_VALUE
        from V_SCN_MKT_COMM_VOL
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'COMM_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectEqVolData" resultType="java.util.HashMap">
        select
            CURVE_TYPE,
            CURVE_CODE,
            DATA_DATE,
            TERM_CODE,
            TERM_DAYS,
            VERTEX2,
            RISKFACTOR_VALUE
        from V_SCN_MKT_EQ_VOL
        <where>
            <choose>
                <when test="startDate!= null and endDate!= null">
                    and DATA_DATE between #{startDate} and #{endDate}
                </when>
                <when test="startDate!= null">
                    and DATA_DATE = #{startDate}
                </when>
                <when test="endDate!= null">
                    and DATA_DATE = #{endDate}
                </when>
            </choose>
            <choose>
                <when test="curveCode != null and curveCode != ''">
                    and CURVE_CODE = #{curveCode}
                </when>
                <otherwise>
                    and CURVE_CODE in (
                        select distinct CURVE_CODE
                        from V_SCENARIO_RULE
                        where SCENARIO_ID = #{scenarioId}
                          and CURVE_TYPE = 'EQ_VOL'
                    )
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>
